.cardContainer {
  margin-bottom: 48px;
  width: 100%;
}

.card {
  background-color: #facc15;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 14px;
}

.round {
  font-weight: bold;
  color: #333;
}

.result {
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

.numbersContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
  align-items: center;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  color: $white-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bonusPlus {
  font-size: 18px;
}

.bonus {
  background-color: $third-color;
  color: $white-color;
}

.prizeInfo {
  font-size: 14px;
  color: $text-color;
}
