.hero {
  color: $text-color;
  padding: 30px 20px;
  text-align: center;

  .content {
    max-width: 800px;
    margin: 0 auto;

    .heroTitle {
      font-family: "Poppins", sans-serif;
      font-size: 30px;
      font-weight: bold;
      color: $primary-color;
    }

    .heroText {
      font-family: "Roboto", sans-serif;
      font-size: 1.2rem;
      line-height: 1.6;
      color: darken($text-color, 20%);
    }
  }
}
